<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>deposit page</title>

</head>

<body style="background-color:#121212; font-family:helvetica; color:cornsilk;" link="ivory" alink="cornsilk" vlink="ivory">
    <p style="font-size:40px;">Deposit</p>
    <form class="form">
        <input type="hidden" id = "userid" name="userid" value="{{ user.userid }}">
        <label for="amount">amount to be deposited:</label><br>
        <input type = "number" step = "0.01" name = "amount" min = "0" style="border:none; border-bottom:1px solid cornsilk; background-color:#121212; color:cornsilk; outline:none"><br>
        <select name="category" id="category" style="background-color:#121212; border:none; color:cornsilk; outline:none;">
          <option value="salary">salary</option>
          <option value="misc">misc</option>
        </select>
        <input type = "submit" style="background-color:#121212; border:none; color:#121212;">
    </form>
    <script>
      const form = document.querySelector('.form');
      form.addEventListener('submit', event => {
        event.preventDefault();

        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        fetch('http://localhost:3000/deposit/{{ user.userid }}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
        })
        .then(response => {
          //if (!response.ok) {
            //throw new Error('Network response was not ok');
          //}
          return response.text();
        })
        .then(data => {
          document.open();
          document.write(data);
          document.close();
        })
        .catch(error => {
          alert('Error: ' + error.message);
        });
      });
    </script>
</body>
</html>