<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>new account</title>

  
</head>

<body style="background-color:#121212; font-family:helvetica; color:cornsilk" link="ivory" alink="cornsilk" vlink="ivory">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p style="text-align:center; font-size:50px"><b>SIGNUP</b></p>
    <br><br>
    <form class="form">
        <label for="userid">UserID:</label><br>
        <input type = "number" name = "userid" min = "1" style="border:none; border-bottom:2px solid cornsilk; background-color:#121212; color:cornsilk; outline:none"><br>
        <label for="name">Name:</label><br>
        <input type = "text" name = "name" style="border:none; border-bottom:2px solid cornsilk; background-color:#121212; color:cornsilk; outline:none"><br>
        <button type = "submit" style="background-color:#121212; border:none; color:#121212;"> submit </button>
    </form>

    <script>
      const form = document.querySelector('.form');
      form.addEventListener('submit', event => {
        event.preventDefault();

        const formData = new FormData(form);
        console.log(formData.get('userid'));

        const data = Object.fromEntries(formData);
        console.log(data);

        fetch('http://localhost:3000/signuppost', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
      })
    </script>
</body>
</html>